html {
    height: 100%;
}

.container-md {
    margin-top: 80px;
    height: 100%;
}

.modal-content, .card {
    border: none;
    border-radius: 10px;
}

.border-clean {
    border-radius: .25rem;
}

[data-toggle] {
    cursor: pointer;
}

.toggle-true {
    filter: invert(26%) sepia(33%) saturate(3976%) hue-rotate(331deg) brightness(106%) contrast(93%);
}

.toggle-false {
    filter: invert(47%) sepia(87%) saturate(414%) hue-rotate(82deg) brightness(94%) contrast(90%);
}

.subjectContent {
    overflow: hidden;
    overflow-y: scroll;
}

.btn-info {
    color: white;
}

@media (max-width: 991.98px) {
    .fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button {
        display: none !important;
    }
    #calendar {
        height: 100%;
    }
    body {
        height: calc(100% - 160px);
    }
}

@media (min-width: 991.98px) {
    .subjectContent {
        height: 500px;
    }
}