html {
    height: 100%;
}

body {
    font-family: 'Roboto', var(--bs-font-sans-serif);
}

a {
    text-decoration: none;
    color:black;
}

.container-md {
    margin-top: 80px;
    height: 100%;
}

.modal-content, .card {
    border: none;
    border-radius: 10px;
}

.style-brand {
    border-radius: .25rem;
    background-color: var(--bs-secondary) !important;
    color: var(--bs-light) !important;
    font-weight: bold;
}

[data-toggle] {
    cursor: pointer;
}

.toggle-true {
    filter: invert(26%) sepia(33%) saturate(3976%) hue-rotate(331deg) brightness(106%) contrast(93%);
}

.toggle-false {
    filter: invert(47%) sepia(87%) saturate(414%) hue-rotate(82deg) brightness(94%) contrast(90%);
}

.subjectContent {
    overflow: hidden;
    overflow-y: scroll;
}

.btn-info {
    color: white;
}

textarea.form-control {
    height: auto !important;
}

@media (max-width: 991.98px) {
    .fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button {
        display: none !important;
    }
    #calendar {
        height: 100%;
    }
    body {
        height: calc(100% - 160px);
    }
}

@media (min-width: 991.98px) {
    .subjectContent {
        height: 350px;
    }
}