@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Roboto";
        font-weight: 400;
        font-style: normal;
        src: url(../fonts/Roboto-Regular.woff) format("woff");
    }
    @font-face {
        font-family: "Roboto";
        font-weight: 400;
        font-style: italic;
        src: url(../fonts/Roboto-Italic.woff) format("woff");
    }
    @font-face {
        font-family: "Roboto";
        font-weight: 700;
        font-style: normal;
        src: url(../fonts/Roboto-Bold.woff) format("woff");
    }
    @font-face {
        font-family: "Roboto";
        font-weight: 700;
        font-style: italic;
        src: url(../fonts/Roboto-BoldItalic.woff) format("woff");
    }
    @font-face {
        font-family: "Roboto";
        font-weight: 300;
        font-style: normal;
        src: url(../fonts/Roboto-Light.woff) format("woff");
    }
    @font-face {
        font-family: "Roboto";
        font-weight: 300;
        font-style: italic;
        src: url(../fonts/Roboto-LightItalic.woff) format("woff");
    }
}

/* general */
html {
    @apply font-sans bg-gray-100;
}

.fc {
    height: 100%;
}

/* buttons */
.btn-positive {
    @apply text-white bg-gray-700 hover:bg-gray-600 hover:text-gray-200 rounded-md focus:outline-none select-none;
}

.btn-negative {
    @apply text-white bg-red-600 hover:bg-red-700 hover:text-red-100 rounded-md focus:outline-none select-none;
}

.btn-neutral {
    @apply border border-gray-300 text-gray-700 bg-white hover:bg-gray-50 rounded-md focus:outline-none select-none;
}

/* forms */
.form-field {
    @apply border border-gray-400 rounded-md w-full focus:outline-none focus:ring-1 focus:ring-gray-800 focus:border-gray-800 text-base px-2 sm:px-3 placeholder-gray-600 transition duration-200 disabled:bg-gray-100;
}

.form-validate .form-field:invalid,
.form-validate .form-field.invalid {
    @apply border-red-500 focus:ring-red-500 transition duration-200;
}

textarea.form-field {
    @apply !h-48 align-top resize-none;
}

select.form-field {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-size: 2.25em 2.25em;
    background-position: right 0.5rem center;
    @apply appearance-none bg-no-repeat;
}

.form-floating {
    @apply relative;
}

.form-floating > .form-field,
.form-floating > .form-select {
    height: calc(3.5rem + 2px);
    @apply py-4 px-3 placeholder-transparent;
}

.form-floating > label {
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    @apply py-4 px-3 absolute top-0 left-0 h-full pointer-events-none border border-solid border-transparent text-gray-700 text-base;
}

@media (prefers-reduced-motion: reduce) {
    .form-floating > label {
        transition: none;
    }
}

.form-floating > .form-field:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-field:focus,
.form-floating > .form-field:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-field:-webkit-autofill {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-field:not(:-moz-placeholder-shown) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-field:focus ~ label,
.form-floating > .form-field:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-field:-webkit-autofill ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-check {
    @apply flex;
}

.form-check > input {
    background-origin: border-box;
    color: #4299e1;
    margin-top: 0.2rem;
    @apply h-4 w-4 appearance-none select-none flex-shrink-0 bg-white border border-gray-500 rounded focus:outline-none hover:cursor-pointer;
}

.form-check > input:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    @apply bg-no-repeat bg-center bg-gray-700 border-transparent;
}

.form-check > label {
    @apply text-gray-700 ml-2 text-left select-none hover:cursor-pointer;
}

.form-help {
    @apply text-gray-500 text-sm;
}

.form-error {
    @apply text-red-600 text-sm text-left;
}

.props-check > input {
    background-origin: border-box;
    color: #4299e1;
    margin-top: 0.4rem;
    @apply h-6 w-6 appearance-none select-none flex-shrink-0 bg-white border-2 border-gray-400 rounded focus:outline-none hover:cursor-pointer;
}

.props-check > input:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    @apply bg-no-repeat bg-center bg-gray-700 border-transparent;
}

/* links */
.link-nav {
}

.link-inline {
    @apply text-gray-700 hover:text-gray-500 border-b border-gray-600 hover:border-gray-400;
}
